{"openapi":"3.0.1","info":{"title":"trial_registry_backend - Trials","contact":{},"version":"v1.0"},"servers":[{"url":"https://e8f34e4e-e9bb-4799-b725-7173d271fa62-prod.e1-us-east-azure.bijiraapis.dev/lahiru/trialregistrybackend/trials-eb7/v1.0"}],"paths":{"/":{"get":{"operationId":"get","responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrialsResponse"}}}},"500":{"description":"InternalServerError"}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-throttling-limit":{"requestCount":-1,"unit":"MINUTE"},"x-auth-type":"Application & Application User"},"post":{"operationId":"post","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Trial"}}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTrialResponse"}}}},"400":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorPayload"}}}},"500":{"description":"InternalServerError"}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-throttling-limit":{"requestCount":-1,"unit":"MINUTE"},"x-auth-type":"Application & Application User"}},"/{trialId}":{"get":{"operationId":"getTrialid","parameters":[{"name":"trialId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Trial"}}}},"400":{"description":"BadRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorPayload"}}}},"404":{"description":"NotFound"},"500":{"description":"InternalServerError"}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-throttling-limit":{"requestCount":-1,"unit":"MINUTE"},"x-auth-type":"Application & Application User"}}},"components":{"schemas":{"ErrorPayload":{"type":"object","properties":{"message":{"type":"string"},"method":{"type":"string"},"path":{"type":"string"},"reason":{"type":"string"},"status":{"type":"integer","format":"int64"},"timestamp":{"type":"string"}},"required":["message","method","path","reason","status","timestamp"]},"PostTrialResponse":{"type":"object","properties":{"message":{"type":"string"},"trialsAdded":{"type":"integer","format":"int64"}},"required":["message","trialsAdded"]},"Trial":{"type":"object","properties":{"condition":{"type":"string"},"eligibilitySummary":{"type":"string"},"endDate":{"type":"string"},"id":{"type":"integer","format":"int64"},"nctId":{"type":"string"},"phase":{"type":"string"},"principalInvestigator":{"type":"string"},"siteDistanceKm":{"type":"number","format":"double"},"startDate":{"type":"string"},"status":{"type":"string"},"title":{"type":"string"}},"required":["condition","id","phase","principalInvestigator","startDate","status","title"]},"TrialMetadata":{"type":"object","properties":{"condition":{"type":"string"},"distance":{"type":"number","format":"double"},"eligibilitySummary":{"type":"string"},"id":{"type":"integer","format":"int64"},"nctId":{"type":"string"},"phase":{"type":"string"},"status":{"type":"string"},"title":{"type":"string"}},"required":["condition","distance","eligibilitySummary","id","nctId","phase","status","title"]},"TrialsResponse":{"type":"object","properties":{"totalCount":{"type":"integer","format":"int64"},"trials":{"type":"array","items":{"$ref":"#/components/schemas/TrialMetadata"}}},"required":["totalCount","trials"]}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https:///authorize","scopes":{}}}}}},"x-wso2-disable-security":"false"}